.ButtonNew {
  gap: 10px;
  width: 240px;
  height: 40px;
  background: #A84040;
  color: white;
  border: none;
  font-size: 12px;
  transition: ease-out 50ms;
}
.ButtonNew:hover {
  background: #762d2d;
}

.Note {
  padding: 20px 60px;
  transition: ease-out 50ms;
}
.Note:hover {
  background: #1A1A1A;
}
.Note > p {
  max-height: calc(14px * 1.5 * 3);
  overflow-y: hidden;
}

.Sidebar {
  flex: 0 0 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
  gap: 20px;
  left: 0px;
  top: 0px;
  background: #252525;
  color: white;
}
